<!-- <h1>Colcho.net</h1>

<p>
Escolha uma das ações a seguir: 
<ul>
	<li> <%= link_to "Cadastro", new_user_path %></li>
	<li> <%= link_to "Visualizar Quartos", rooms_path %></li>
</ul> -->

<h1> Quartos recém postados </h1>
<ul>
	<% @rooms.each do |room| %>
		<li>
			<%= link_to room.complete_name, room %>
		</li>
	<% end %>
</ul>